<h1 mat-dialog-title>Bienvenido!</h1>
<div mat-dialog-content>Este es un pequeño minijuego basada en el clásico desafío de adivinar el Pokémon de la mítica
    serie animada, esta experiencia esta creada por Matías Rojas.
    <br><br>
    Jugar es sencillo, tienes distintos niveles de dificultad en los que probaras tus conocimientos del mundo Pokémon.
    <br><br>
    Una vez tengas un Pokémon a adivinar, tendrás 3 intentos para acertar.
    <br><br>
    Si adivinas podrás volver a jugar y seguir probando cuanto sabes de este mundo. Y si no adivinas no te preocupes
    puedes seguir intentándolo, no te rindas!
    <br><br>
    Espero que disfrutes de esta experiencia!
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
</div>