/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.modal-w .mat-dialog-container{
    padding: 0px !important;
    background-color: green;
}

.modal-l .mat-dialog-container{
    padding: 0px !important;
    background-color: red;
}

.mat-icon {
    width: 50px !important;
    height: 50px !important;
    cursor: pointer;
}

.material-icons {
    font-size: 50px;
}